<ion-view   view-title="LOGIN" hide-nav-bar="true">
	<div class = "lbg ">
		<img src="img/bg.jpg">
	</div>
  	<ion-content  class="padding" scroll="false">
  		

  		<div class="row " ng-class="{'animated': showLogin,'zoomIn': showLogin}">
  			
  	  		<div class="col  col-50 col-offset-25">
  	  			
  	  			<div class="spinner spinner-position">
  	  			  <div class="rect1"></div>
  	  			  <div class="rect2"></div>
  	  			  <div class="rect3"></div>
  	  			  <div class="rect4"></div>
  	  			  <div class="rect5"></div>
  	  			</div>

		  		<div class = "login-logo  " ng-class="{'animated': showLogin,'tada': showLogin}">
		  			<img src="http://chanmao.ca/img/logo.png">
		  		</div>

			  	<form name="loginForm" class ="login-form ">
			  	    <span class="input input--hoshi " ng-class="{'input--filled':loginForm.userName.$valid}">
			  	      <input class="input__field input__field--hoshi"  type="text" name="userName" ng-model="user.name" required  />
			  	      <label class="input__label input__label--hoshi input__label--hoshi-color-1" >
			  	        <span class="input__label-content input__label-content--hoshi ">User Name: </span>
			  	      </label>
			  	    </span>


			  	   <span class="input input--hoshi" ng-class="{'input--filled':loginForm.userPassword.$valid}">
			  	     <input class="input__field input__field--hoshi" type="password"  name="userPassword" ng-model="user.password" required/>
			  	     <label class="input__label input__label--hoshi input__label--hoshi-color-2">
			  	       <span class="input__label-content input__label-content--hoshi">Password:</span>
			  	     </label>
			  	   </span>
			  	    
			  	    <button class="button button-login  button-energized">
			  	      LOGIN
			  	    </button>
			  	</form>	
	  	  	
	  	  	</div>
	  	</div>
	  	
  	</ion-content>
  	<div class="glass"></div>
</ion-view>
